@charset "UTF-8";

// ***********************************************
//  Font Face
// ***********************************************

// 游ゴシック
// =====================================
// Windows 用 Medium 指定の游ゴシック
@font-face {
  font-family: 'Yu Gothic M';
  src: local('Yu Gothic Medium');
}

// font-weight: bold の時は通常どおり Bold 書体を使わせる
@font-face {
  font-family: 'Yu Gothic M';
  src: local('Yu Gothic Bold');
  font-weight: bold;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
