@charset "UTF-8";

// ***********************************************
//  Global Variables
// ***********************************************

// Color
// =====================================
$base: #3b3b3b;
$brown: #707070;
$shadow: #eaeaea;
$gradation: no-repeat center center/300% 300%
  linear-gradient(130deg, #3f3f94, #ec2757, #fcfc67);

// Font Family
// =====================================
$ff: helvetica neue, -apple-system, 'BlinkMacSystemFont', 'ヒラギノ角ゴ Pro W3',
  'Hiragino Kaku Gothic Pro', yugothic, 'Yu Gothic', '游ゴシック体',
  '游ゴシック', 'メイリオ', meiryo, osaka, 'ＭＳ Ｐゴシック', 'MS PGothic',
  sans-serif;

// Media Queries
// =====================================
$device-land: 'screen and (orientation: landscape)';
