@charset "UTF-8";

// ***********************************************
//  Global Variables
// ***********************************************

// Size
// =====================================

$tb-min-width: 460px;

// Color
// =====================================
$base: #3b3b3b;
$brown: #707070;
$shadow: #eaeaea;

// Font Family
// =====================================
$ff: helvetica neue, -apple-system, 'BlinkMacSystemFont', 'ヒラギノ角ゴ Pro W3',
  'Hiragino Kaku Gothic Pro', yugothic, 'Yu Gothic', '游ゴシック体',
  '游ゴシック', 'メイリオ', meiryo, osaka, 'ＭＳ Ｐゴシック', 'MS PGothic',
  sans-serif;

// Media Queries
// =====================================
$device-dark: 'screen and (prefers-color-scheme: dark)';
$device-m: 'screen and (min-width: #{$tb-min-width})';
